extends layout

block content

    .w3-container(id="displayEMD")

    .w3-card-4
      header.w3-container.w3-teal
        h3.w3-left Lista de Exames Médicos Desportivos Registados
        button.w3-btn.w3-round-large.w3-white.w3-right
          a(href="/novoRegisto" id="novo") Registar
      if lista.length > 0
        .w3-container 
          table.w3-table-all
            tr 
              th Data
              th Nome
              th Modalidade
              th Resultado
              th Pagamento
              th Operações
            each e in lista
              tr(id='e_'+e._id, class='emd', onclick="showEMD("+JSON.stringify(e)+")")
                td= e.dataExame
                td= e.nome
                td= e.modalidade
                td= e.resultadoEMD
                td= e.pagamento
                td
                  button.w3-btn.w3-teal.w3-round-large.w3-margin-right(onclick="showEMD("+JSON.stringify(e)+")") Ver
                  button.w3-btn.w3-teal.w3-round-large.w3-margin-right 
                    a(href="/editRegisto/" + e._id) Alterar
      else
        div(class="w3-container")
          p Ainda não há exames registados...
      footer(class="w3-container w3-teal")
        address Gerado por EMD :: 2020-Setembro, jcr
